.p1{
  margin-top: 300px;
  margin-left: 750px;
  border-radius: 5px;
  height: 25px;
}

.p2{
    margin-left: 720px;
}

.p3{
    margin-top: 15px;
    margin-left: 1150px;
}

.p4{
    margin-left: 115px;
    margin-top: -18px;
}

.p5{
    margin-left:1150px;
    margin-top:250px;
}

.p55{
    margin-left:780px;
}

.p56{
    margin-left:773px;
}

.p10 {
	border-radius: 5px;
	display: block;
	margin: 7px;
	padding: 7px;
	width: 500px;
}

.p11 {
	margin: 15px 45px;
	font-size: 10pt;

}
.p12 {
	border-style: none;
	margin: 11px 4px;
	padding: 8px 16px;
}

.h3{
    margin: 30px 0px 10px 47px;
}
